head {
    background-image: url("http://www.lexicon.se/Static/images/logo-lexicon.gif")
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Changing color to Lexicon-standard */
.navbar-inverse .navbar-nav > li > a {
    color: lightgreen;
}

/*.navbar {
    display: inline;
    font-family: Garamond;
    font-size: 1.5em;
}*/

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/*
.navBackgroundColor{background-color:#de0000 !important}
.primaryBackgroundColor{background-color:#ff5a04 !important}
.secondaryBackgroundColor{background-color:#de0000 !important}
.navColor{color:#de0000 !important}
.primaryColor{color:#ff5a04 !important}
.secondaryColor{color:#de0000 !important}
.upTopbarBackgroundColor{background:rgba(90,90,90,0.8);
                        filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#80808080', EndColorStr='#80808080')}
.navBorderColor{border-color:#de0000 !important}.primaryBorderColor {
                                                    border-color:#ff5a04 !important
                                                }.secondaryBorderColor {
                                                     border-color:#de0000 !important
                                                 }table.dataTable thead .sorting {
                                                      background:url("../img/dataTables/sort_both.png") no-repeat center right
                                                  }table.dataTable thead .sorting_asc {
                                                       background:url("../img/dataTables/sort_asc.png") no-repeat center right
                                                   }table.dataTable thead .sorting_desc {
                                                        background:url("../img/dataTables/sort_desc.png") no-repeat center right
                                                    }table.dataTable thead .sorting_asc_disabled {
                                                         background:url("../img/dataTables/sort_asc_disabled.png") no-repeat center right
                                                     }table.dataTable thead .sorting_desc_disabled {
                                                          background:url("../img/dataTables/sort_desc_disabled.png") no-repeat center right
                                                      }
    */


.highlight_background{
    background-color:rgb(212, 250, 212);
}

.coursedescription,
.activity {
    font-style:italic;
}

.activityname {
    font-weight:600;
}

.future_groups {
    background-color:palegrey; 
}

 hr {
    border-top:1px solid red;
    width:95%;
}

.groupheader {
    font-size:x-large;
    font-weight:600;
}

.groupname {
    font-size: larger;
    font-weight:600;
}

.groupdate {
    font-style:italic;
}

.hasactivities,
.hascourses {
    font-weight:600;
}

.activitydate,
.coursedate {
    font-size:smaller;
}

.coursename {
    font-size:medium;
}

.grouplink {
    font-size:smaller;
}

.welcome {
    font-size:xx-large;
    
     color: red;
}

.sg-table-div {
    padding-top: 30px;
}

.sg-table-td1 {
    margin-top: 0px;
    padding-right: 100px; 
    /*width: 70%;*/
}
.sg-td1-div1 {
    padding-bottom: 20px;
}
.sg-td1-div2 {
    border-top-style: solid; 
    border-top-width: thin; 
    border-top-color: red;
}
.sg-table-td2 {
    padding-left: 50px; 
    padding-top: 20px; 
    vertical-align: top; 
    border-left-style: solid; 
    border-left-width: thin; 
    border-left-color: red; 
    /*width: 40%;*/
}
.sgm-td2 {
    width: 20%;
}
.sgc-div1 {
    width: 80%;
}
.sgc-table-td2 {
    width: 30%;
}

.Fullnamecolor {
    color:red;
}

.leftBorder{
    border-left-color:red;
    border-left-style:solid;
    border-left-width:1px;
}
