    @{
    ViewBag.Title = "Ingen användare med angiven e-postadress kunde hittas.";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Var god, försök igen.
    </p>
    @Html.ActionLink("Tillbaka", "Login")
</div>

