@{
    ViewBag.Title = "E-postmeddelandet kunde inte skickas.";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Något har gått fel med försöket att skicka meddelandet. Kontakta Administratören.
    </p>
    @Html.ActionLink("Tillbaka", "Login")
</div>

