@{
    ViewBag.Title = "Återställning av lösenord lyckades";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Ditt lösenord har återställts. Var god @Html.ActionLink("Klicka här för att logga in.", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
