@{
    ViewBag.Title = "Contact";
}
<h3>@ViewBag.Message</h3>

<address>
    Lexicon huvudkontor:<br />
    <br />
    Klarabergsviadukten 70<br />
    Box 863<br />
    101 37  STOCKHOLM<br />
<abbr title="Phone">Tel:</abbr>
    0856610700<br />
     <br />
    Lexicon Arbetsmarknadsutbildning<br />
    Årstaängsvägen 9 (dörrkod 0582)<br />
    117 43  STOCKHOLM<br />
        <br />
    Kursansvarig Systemutveckling.NET<br />
    Oscar Jakobsson<br />
    <abbr title="Phone">Tel:</abbr>
    0735454217<br />
    <br />
</address>

<address>
    <strong>Kursledare:</strong>   <a href="mailto:oscar.jakobsson@lexicon.se">oscar.jakobsson@lexicon.se</a><br />
    <strong>Sjukanmälan:</strong> <a href="mailto:infoAF@lexicon.se">infoAF@lexicon.se</a>
</address>