@{
    ViewBag.Title = "Contact";
}
<h3>@ViewBag.Message</h3>

<address>
    Lexicon huvudkontor<br />
    Klarabergsviadukten 70<br />
    Box 863<br />
    101 37  STOCKHOLM<br />
<abbr title="Phone">Tel:</abbr>
    0856610700<br />
     <br />
    Lexicon Arbetsm.utbildning<br />
    Årstaängsvägen 9<br />
    117 43  STOCKHOLM<br />
        <br />
    Kursledare för Systemutveckling.NET<br />
    Oscar Jakobsson<br />
    oscar.jakobsson@lexicon.se<br />
    <abbr title="Phone">Tel:</abbr>
    073545<br />
    <br />
    sjukanmälan<br />
    infoAF@lexicon.se<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>